body {
  margin: 0;
}

.main,
.section {
  width: 80vw;
  height: 50vh; 
  /* vh vw висота ширина вікна sdgsgsdfg */
}

.first {
  background-color: #83ceab;
}

.button {
  background-color: #477a32;
  width: 250px;
  height: 60px;
  padding-top: ;
}

/* .button:hover {
  background-color: #74a561;
} */

.button:active {
  border: 2px solid black;
}

.button .text {
  display: block;
  text-align: center;
}

.link-to-google {
  text-decoration: none;
  color: white;
}

.link-to-google:hover {
  text-decoration: underline;
}

.link-to-google:visited {
  color: orange;
}

.text.title {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.text.sub {
  font-size: 12px;
  font-weight: 100;
  color: rgb(221, 221, 221);
}

.second {
  background-color: rgb(255, 244, 244);
}
